<a href="https://colab.research.google.com/github/Data-Science-and-Data-Analytics-Courses/UniMelb---Database-Systems-Information-Modelling-INFO90002_2019_SM1/blob/master/Revision/INFO90002ExamRevisionNo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INFO90002 Exam Revision No 4

---

## Q2 – SQL
**Your task:**  
Questions 2A-E require you to write one single SQL statement per question. Do not use views
or temporary tables. Format code for ease of reading. Ensure user-friendly output by ordering
and renaming columns where appropriate.

2.1 Change student 10001’s name to “Alison Smythe”.  


```
UPDATE Student
SET givenName = Alison, familyName = Smythe
WHERE id = 10001;
```

2.2 For each letter A to Z, list that letter along with a count of how many family names begin
with the letter.  
It is ok to omit letters with which no name begins.  


```
SELECT SUBSTRING(familyName, 1, 1) AS Initial, COUNT(DISTINCT(familyName)) AS Count
FROM Student
GROUP BY SUBSTRING(familyName, 1, 1)
```

2.3 Is student 10001 free on Wednesdays at 10am? Answer 'yes' or 'no'.  


```
SELECT IF(EXISTS(
  SELECT *
  FROM Availability
  WHERE Student = 10001 AND day = Wed AND hour = 10), 1, 0)
```

2.4 List each student's name, along with a count of how many timeslots they have marked as
being free.  
Be sure to include students who have not marked any free times.  


```
SELECT Student.givenName, COUNT(DISTINCT Availability.day, Availability.hour)
FROM
  Student LEFT JOIN Availability
  ON Student.id = Availability.Student
GROUP BY Student.id, Student.givenName
```

2.5 List any students who are free at ALL times.  


```
SELECT Student
FROM Availability
GROUP BY Student
HAVING COUNT(*)= (SELECT COUNT(*) FROM Calendar)
```

## Q3 - Database Administration
3.1 Using an SQL DML Update statement explain the purpose and operation of the database
buffer cache